@import url(https://fonts.googleapis.com/css?family=Oswald|Droid+Serif);

/* {
    outline: solid yellow 1px;
} */

body {
    background-color: #f4f4f4;
    margin: 0;
    font-family: 'Droid Serif', serif; 
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.25em;
    color: #444444;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
    color: #444444;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    color: #444444;
}

p {
    font-family: 'Droid Serif', serif;
    font-size: 0.85em;
}

a {
    text-decoration:none;
}

header.large {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100px;
    background-color: #f4f4f4;
}

header.small {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 60px;
    background-color: #f4f4f4;
    
    box-shadow: 0 0 10px #999; 
     -moz-box-shadow: 0 0 10px #999;
     -webkit-box-shadow: 0 0 10px #999;
}

nav.large {
    margin: auto;
    max-width: 900px;
    padding:0px 25px 0px 25px;
    font-family: 'Oswald', sans-serif;
    margin-top:40px;
}

nav.small {
    margin: auto;
    max-width: 900px;
    padding:0px 25px 0px 25px;
    font-family: 'Oswald', sans-serif;
    margin-top:20px;
}

.logo {
    float:left;
    text-align: left;
    font-size: 0.75em;
    color: #30707b;
}

.logo a {
    text-decoration: none;
    color: #30707b;
}

.links {
    float:right;
    text-align: right;
    font-size: 0.75em;
    color: #444444;
}

.links a {
    text-decoration: none;
    color:#444444;
    padding-left: 25px;
}

.links a:hover {
    color: #30707b;
}

header, nav, .logo, .links{
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}

.bannerBackground {
    background-color: #526d75;
    height: 450px;
    text-align:center;
    padding-top: 120px;
}

.banner {
    height: 420px;
    width: 950px;
    border: solid 3px #f4f4f4;
    position:relative;
    margin: auto;
    text-align: center;
}

.banner img {
    height: 260px;
    width: 260px;
    float: right;
    margin-top: 80px;
    margin-right: 145px;
}

.banner h1 {

    padding:190px 0 4px 0;
    margin-left: 140px;
    color: #e9e9e9;
    letter-spacing: 2px;
    border-bottom: solid #e9e9e9 2px;
    max-width: 350px;
}

.banner h3 {
    color: #e9e9e9;
    position:relative;
    top:-15px;
    right: -40px;
}

.work {
    text-align:center;
    max-width:950px;
    margin:auto;
    padding-bottom:25px;
}

.work img{
    padding: 0 5px 10px 5px;
}

#design , #photography , #videography  {
    margin-top: -50px;
    padding-top: 50px;
}

#aboutBackground {
    background-color: #b4b7be;
    height: 350px;
}

.about {
    color:#e9e9e9;
    max-width:900px;
    margin:auto;
    padding: 15px 0 0 0;
}

.about img {
     height: 250px;
     width: 250px;
     float:left;
     margin: 30px 25px 0 0;
}

.about h2, h3 {
    color: #f4f4f4;
}

.socialMedia img {
    height: 30px;
    width: 30px;
    margin: 0 5px 0 5px;

} 

.footer {
    text-align:center;
    height: 50px;
    padding-top:10px;
}

.footer p {
    font-family: 'Oswald', sans-serif;
    font-size:0.75em;
    color: #444444;
}