@import url(https://fonts.googleapis.com/css?family=Oswald|Droid+Serif);

/* {
    outline: solid yellow 1px;
}*/

body {
    background-color: #f4f4f4;
    margin: 0;
    font-family: 'Droid Serif', serif;
    
}

.header {
    height: 100px;
}

.nav {
    margin: auto;
    max-width: 900px;
    padding:0px 25px 0px 25px;
    font-family: 'Oswald', sans-serif;
}

.logo {
    float:left;
    text-align: left;
    margin-top:40px;
    font-size: 0.75em;
    color: #30707b;
}

.links {
    float:right;
    text-align: right;
    margin-top: 40px;
    font-size: 0.75em;
    color: #444444;
}

.links a {
    text-decoration: none;
    color:#444444;
    padding-left: 25px;
}

.banner {
    background-color: #526d75;
    height: 450px;
    text-align:center;
    padding-top:20px;
}

.banner img {
    height: 260px;
    width: 260px;
    float: right;
    margin-top: 80px;
    margin-right: 175px;
}

.graphic {
    height: 420px;
    width: 950px;
    border: solid 3px #f4f4f4;
    position:relative;
    margin: auto;
    text-align: center;
}

.graphic h1 {
    padding:190px 0 0px 0;
    margin-left: 90px;
    color: #e9e9e9;
    letter-spacing: 2px;
    border-bottom: solid #e9e9e9 2px;
    max-width: 350px;
}

.graphic h3 {
    color: #e9e9e9;
    position:relative;
    top:-12px;
}

.work {
    text-align:center;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.25em;
    color: #444444;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
    color: #444444;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    color: #444444;
}

p{
    font-family: 'Droid Serif', serif;
    font-size: 0.85em;
}